/********************右上内容********************/
#contents{
    margin-left: 180px;
    min-width: 1200px;
    background: url("../image/bg_top_mask.png") top left repeat;
}


#content-bio{
    height: 330px;
    padding-top: 30px;
}

#content-bio-content{
    height: 300px;
    width: 1200px;
    margin: auto;
    font-family: Microsoft YaHei;
}
#content-bio-content h2{
    margin-top: 15px;
    margin-bottom: 20px;
}
#content-bio-content p{
    font-size: 19px;
    line-height: 23px;
}

#content-updates{
    height: 44px;           /* 黑框高度 */
    padding: 8px 3px;       /* 上下8px，左右3px */
    background-color: #333; /* 黑框背景 */
}

#content-updates h1, #content-updates h1 a{
    width: 600px;          /* 固定文字高度 */
    margin: auto;           /* H1居中 */
    color: #fff;
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    font-family: Microsoft YaHei;
}



/********************右下内容********************/
#works{
    
}
#research{
    background: url("../image/Research/background.png");
}
#projects{
    background-color: white;
}

.content-entry{
    padding-top: 100px;
    padding-bottom: 90px;
    overflow:hidden;
    text-align: center;    /* Button的居中 */
}
.content-entry h1{
    font-family: Microsoft YaHei;
    font-size: 40px;
    font-weight:  700;
    text-align: center;
    margin-bottom: 30px;
}
.content-entry h2{
    font-size: 20px;
    line-height: 24px;
}

.project-entry{
    float:left;
    margin:auto;
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
}

.project-entry h2{
    font-family: Microsoft YaHei;
    font-weight: 700;
    font-size: 22px;
    color: #222;
    letter-spacing: 0.05em;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}

.project-entry p{
    color: black;
    font-size: 18px;
}